.reveal h1 { font-size: 1.2em; }

table, th, td {
    border: 1px solid black;
}

html {
  background-color: #fff !important;
}

.reveal {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 33px;
  font-weight: normal;
  color: #fff;
}
